header {
    display: flex;
    justify-content: space-between;
    background-color: #5e6472;
    border-bottom: 10px solid #000;
    border-width: 10px;
    padding: 10px 20px;

}

nav {
    text-align: right;
}

h1 {
    display: inline-block;
    font-family: "Press Start 2P";
    padding: 18px 20px;
    color: #fff;
    text-shadow: 5px 5px 0px #000;
}


 a {
    display: inline-flex;
    align-items: center;
    color:#fff;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    transition: transform 50ms linear;
}
    
a:hover {
    transform: scale(1.02);
}

a::before {
    content: "";
    background-color: #f07167;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}


#button {
    display: inline-block;
    background-color: #c44536;
    box-shadow: 5px 5px 0px #000;
    padding: 18px 20px;
    margin-right: 0;
    transition: transform 40ms linear, opacity 500ms ease-in-out;
}

#button:hover {
    transform: scale(1.03);
    opacity: 0.95;    
}

#contact {
    margin-right: 100px;
}
