#box {
    display: inline-block;
    background-color: #5e6472;
    box-shadow: 10px 10px 0px #000;
    text-align: center;
    padding: 42px 0px;
}

#box h2 {
    margin-bottom: 28px;
    margin-left: 20px;
    margin-right: 20px;
}

#box h3 {
    padding-left: 10px;
    padding-right: 10px;

}