.main-carousel {
    display: flex;
    justify-content:space-between;
    position: relative;
    padding-right: 80px;
    padding-left: 80px;
}

.main-carousel .button-arrow {
    position: absolute;
    bottom: 50px;
}

.main-carousel .button-arrow.-left {
    left: 15px;
}

.main-carousel .button-arrow.-right {
    right: 15px;
}