.main-section {
    background-color: #F25A70;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 10px solid #7C5E99;
}

.main-section.-bgBlack {
    background-color: #000;
    border-bottom: 10px solid #F25A70;
}

.main-section.-bdFirst {
    border-color: #F25A70;
    border-bottom: 10px solid #F25A70;
}

.main-section.-bgPurple {
    background-color: #7C5E99;
}

.main-section.-bdFirst {
    border-bottom: 10px solid #000;
}

.main-section.-bgGrey {
    background-color: grey;
}

.main-section.-footer {
    display: flex;
    justify-content: center;    
    padding-top: 28px;
    padding-bottom: 28px;
    border-bottom: 0;
    background-color: black;
}

.footer {
    display: flex;
    width: 215px;
    justify-content: space-between;
}

