.section {
    background-color: #F25A70;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 10px solid #7C5E99;
}

.section.-second {
    background-color: #000;
    border-bottom: 10px solid #F25A70;
}

.section.-third {
    background-color: #7C5E99;
    border-bottom: 10px solid #000;
}