.skill-tec {
    display: flex;
    font-family: "Press Start 2P", sans-serif;
    font-size: 25px;
    color: #fff;
    margin-top: 60px;
    margin-left: 235px;
}

.skill-tec .icon {
    margin-right: 25px;
}
